.technology-icon {
  padding: 0.75rem;

  .border {
    background-color: rgba(128, 128, 128, 0.2);
    border: solid;
    border-color: white;
    border-radius: 0.5rem;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    width: 10rem;
    height: fit-content;
  }

  .icon {
    width: 4rem;
    fill: white;
    font-size: 4rem;
  }

  .technology-text {
    font-weight: 500;
  }
}

@media (max-width: 1200px) {
  .border {
    padding: 0;
    width: 7rem !important;
  }

  .icon {
    width: 2rem !important;
    font-size: 2rem !important;
  }

  .technologies {
    margin-top: 0 !important;
  }
}